@import url('https://fonts.googleapis.com/css2?family=Oxanium&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/apex-world.png);
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
}

.menu-bar {
    display: flex;
    height: 4vh;
    background-color: #161616;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5vw;
    padding-right: 1.5vw;
}

.navegador-apex {
    background-image: url(./img/group2.png);
    display: flex;
    height: 8.8vh;
    width: 87vw;
    color: white;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

ul {
    display: flex;
    align-items: center;
    gap: 2vw;
}

li {
    display: flex;
    text-decoration: none;
    font-style: normal;
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 600;
}

.logo {
    width: 70px;
    height: 45px;
}

.div-button {
    background-color: #C83C35;
    display: flex;
    height: 3rem;
    width: 233px;
    justify-content: center;
    color: white;
    font-family: 'Oxanium';
    font-size: 1.1rem;
    font-weight: 700;
    font-style: normal;
}

.butao-header {
    display: flex;
    text-decoration: none;
    color: white;
    flex-direction: column;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
}

.meio {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    width: 841px;
    margin-left: 85px;
    height: 74px;
    margin-top: 180px;
}

.textomain {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Oxanium';
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
}

.img-central {
    display: grid;
    place-self: end;
    height: 817px;
    width: 755px;
}

.button_play {
    width: 281px;
    height: 71px;
    position: absolute;
    top: 65%;
    left: 4.5%;
}

.button_watch {
    width: 281px;
    height: 71px;
    position: absolute;
    top: 65%;
    left: 21%;
}